.main {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  min-height: 100vh;
  width: 100%;
}

.menuRodada{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.ladoMenu{
  width: 10%;
}

.ladoMobs{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ladoInfo{
  width: 60%;
}

.alignFlex{
  display: flex;
  justify-content: space-between;
}

.alinharGroup{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}

.alinMobs{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fundoMobs{
  transform: 400ms;
  padding: 5px 15px;
  cursor: pointer;
}

.fundoMobs:hover{
  color: black;
  background-color: aliceblue;
}

.fundoListaUsando{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fundoUsando{
  display: flex;
  gap: 15px;
  align-items: center;
}

.selectedMob{
  background: #12131D;
  border: solid 1px #282741;
}

.inputFundo{
  box-sizing: border-box;
  background: none;
  border: solid 1px #27273F;
  color: white;
  padding: 10px 15px;
  width: 95px;
  border-radius: 5px;
}

.inputFundo::placeholder{
  color: white;
}

.salvar{
  margin-top: 25px;
  padding: 5px 15px;
  font-size: 15px;
  background: #3C20D0;
  border: none;
  transition: 300ms;
  cursor: pointer;
}

.salvar:hover{
  transform: scale(115%);
}

.resultadoContaFundo{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 105px;
  align-items: center;
  justify-content: center;
  padding: 25px 15px;
  border: solid 1px #1B1D30;
}

.inputRetirar{
  width: 100%;
background: #a15c02;
border: solid 1px #ffdc89;
border-radius: 2px;
padding: 10px 15px;
color: white;
}

.inputRetirar::placeholder {
  color: #e3e3e3a9; /* Cor desejada para o placeholder */
}