.main {
    display: flex;
    flex-direction: column;
    padding: 25px 30px 25px;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    gap: 25px;
}

.alignFlex{
    display: flex;
}


.fundoEsquerdo{
    width: 70%;
}
.fundoDireito{
    width: 30%;
}

.testesOrganizacao{
    margin-top: 25px;
    display: flex;
    gap: 15px;
    width: 100%;
}

.fundoEquipamento{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding-right: 10px;
}

.fundoOverflowEquip{
    height: 100%;
}

.inventarioOrganizacao{
    align-items: flex-start;
    
    margin-top: 25px;
    display: flex;
    gap: 15px;
    width: 100%;
    height: 180px;
}


.barra{
    margin: 45px 0px 5px;
    height: 1px;
    width: 100%;
    background: #282742;
}

.barraInicial{
    margin: 15px 0px 5px;
    height: 1px;
    width: 100%;
    background: #282742;
}

.barraVertical{
    width:1px;
    background: #282742;
}


.inputNome{
    background-color: #403F52;
    border-radius: 3px;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
}
.inputGuerra{
    background-color: #403F52;
    border-radius: 3px;
    border: none;
    padding: 5px 15px;
    font-size: 12px;
    width: 100%;
}

.labelInput{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fundoFlex{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}
.fundoFlexInput{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.fundoFlex60{
    display: flex;
    width: 54%;
}
.fundoFlex30{
    display: flex;
    width: 35%;
    align-items: flex-end;
}

.fundoFlex20{
    display: flex;
    width: 23%;
}
.fundoFlex13{
    display: flex;
    align-items: flex-end;
    width: 10%;

}

.label{
    font-size: 11px;
}

.nameFont{
    font-family: 'Aniron', 'Cinzel', sans-serif;
    font-size: 12px;
}

.fundoImagemGrande{
    overflow: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100vw;
    height: 100%; 
}

.imagemGrande{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 90%;
}