.align{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.alignImage{
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.input{
    background-color: #403F52;
    border-radius: 3px;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
}

.labelInput{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
}

@font-face {
    font-family: 'Aniron';
    src: url('../../../../public/fonts/anirm___.ttf') format('truetype'); 
}

.nameFont{
    font-family: 'Aniron', 'Cinzel', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.label{
    font-size: 11px;
}

.barraLateral{
    margin: 0px 10px;
    height: 100%;
    width: 1px;
    background: #282742;
}

.registro{
    width: 17%;
}

.companhia{
    width: 30%;
}

.image{
    width: 36px;
    height: 36px;
}

.inputDiario{
    background-color: #403F52;
    border-radius: 3px;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
    height: 250px;
    text-align: initial;
    resize: none;
}